$cl-primary: #1e92e0;
$cl-warn: #e77e7e;
$cl-grey: rgba(211, 211, 211, 0.26);
$cl-text-label: #838383;
$cl-text-content: #464646;

$fnt-size-title: 40rpx;
$fnt-size-subtitle: 30rpx;
$fnt-size-content: 25rpx;
$fnt-size-mini: 20rpx;
